<div class="loginContainer">
  <h1 class="text-center">Kyçu</h1>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control  nzErrorTip="Ju lutem shkruani Email tuaj!">
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input  formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Ju lutem shkruani Passwordin tuaj!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
    </div>
    <div class="text-center">
      <button nz-button class="butoni login-form-button login-form-margin text-center" [nzType]="'primary'">Kyçu</button>
      ose <a [routerLink]="['/register']" class="teksti" > regjistrohuni tani! </a>
    </div>
  </form>
</div>